.container {
    display: block;
    grid: 150px / auto auto;
    gap: 20px;
    justify-content: center;
} 

.square {
    border: 3px solid black;
    height: 130px;
    width: 130px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

body > .dt {
    text-align: center;
}