.container {
    display: grid;
    grid: 350px / auto auto;
    gap: 20px;
    justify-content: center;
    margin: 5px;

} 

.square {
    border: 3px solid black;
    height: 350px;
    width: 350px;
}

body > .dt {
    text-align: center;
}