nav {
    background-color: hsl(292, 68%, 11%);
    color: rgb(223, 175, 112);
    padding: .5em;
    text-align: center;
    position: fixed;
    width: 100%;
}

footer {
    background-color: hsl(260, 42%, 20%);
    color: rgb(223, 175, 112);
    padding: .5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Space Grotesk';
}

button  {
    border-radius: .4rem;
    padding: .6rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    grid-area: submit;
    width: 100%;
    margin-bottom: 2.50em;
}

.background {
    background-image: url("images/bg-main-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-display-container {
    color: white;
    justify-content: center;
    display: flex
}

.card-front {
    background-image: url('images/bg-card-front.png');
    background-size: cover;
    z-index: 1;
    height: 7rem; 
    width: 14rem;
    position: absolute;
    padding: 1rem;
    margin: 7rem 3rem 0rem 0rem;
    border-radius: .6rem;
    display: grid;
    grid-template-areas: 
        'logo logo logo' 'number number number' 'name exp-m exp-y';
    
}

.name-display {
    grid-area: name;
    height: 1rem;
}
.number-display {
    grid-area: number;
    height: 1rem;
}
.exp-m-display {
    grid-area: exp-m;
    height: 1rem;
}
.exp-y-display {
    grid-area: exp-y;
    height: 1rem;
}

.logo {
    display: flex;
    align-items: center;
}

.white-circle {
    grid-area: logo;
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 100%;
}

.empty-circle {
    grid-area:logo;
    height: .75rem;
    width: .75rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    margin-left: 1rem;
}

.card-back {
    background-image: url('images/bg-card-back.png');
    background-size: cover;
    z-index: 0;
    height: 7rem; 
    width: 14rem;
    position: absolute;
    padding: 1rem;
    margin: 2rem 2rem 0rem 5rem;
    border-radius: .6rem;
}

.cvc-display {
    margin: 1.8rem 0.4rem 0 0;
    float: right;
    font-size: 1rem;
}

.card-form-container {
    background-color: white;
    margin: 15rem 0 0 0;
    display: flex;
}

.no-form-container{
    display: none;
}

.success-container {
    background-color: white;
    text-align: center;
    margin: 15rem 0 0 0;
}

.success-message {
    margin: 20% 10%;
}

.no-success {
    display: none;
}

form {
    display: grid;
    margin: 20% auto auto auto;
    width: auto;
    gap: 2rem;
    grid-template-areas: 
    'name name'
    'number number'
    'exp cvc'
    'submit submit';
}

.name-field {
    grid-area: name;
}
.number-field {
    grid-area: number;
}
.exp-field {
    grid-area: exp;
    display: grid;
    grid-template-areas: 
    'label label' 'month-year';
}

.m-y-container {
    display: inline-flex;
    display: inline-flex;
    margin-left: 0;
    width: 10em;
}


label[for='exp'] {
    grid-area: 'label';
}

.m-container {
    margin-right: 2rem;
    width: 3rem
}
.y-container {
    margin-right: 1rem;
    width: 4rem
}

.cvc-field {
    grid-area: cvc;
}


input {
    border-radius: .3rem;
    padding: .4rem;
    border-color: hsl(270, 3%, 87%);
    border-style: solid;
    width: 96%;
}

input:active {
    border-image: linear-gradient(
        hsl(249, 99%, 64%), hsl(278, 94%, 30%)
    ) 1 100%;
    
}

label {
    color: hsl(278, 66%, 36%);
    display: block;
}

.exp-field > .m-y-container {
    display: inline-flex;
}

.exp-field > .m-y-container > .m-container > input, .exp-field > .m-y-container > .y-container > input, .cvc-field > input {
    width: 5em;
    color: hsl(278, 66%, 36%);
    display: block;
}

.exp-field > .m-y-container {
    display: inline-flex;
}

.exp-field > .m-y-container > .m-container > input, .exp-field > .m-y-container > .y-container > input, .cvc-field > input {
    width: 5em;
}

.exp-field > .m-y-container > .y-container > input {
    margin-left: 1em;
}
.exp-field > .m-y-container > .y-container > input {
    margin-left: 1em;
}

.error-message {
    color: hsl(0, 100%, 66%);
    font-size: small;
    display: flex;
}
.err {
    border: 1px solid #de0000;
}

@media (min-width: 800px) {
    .background {
        height: 100%;
    }

    .page-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-display-container {
        align-items:center;
        width: 35%;
        /* overflow: visible; */
    }

    .card-front {
        margin: 0;
        position: fixed;
        left: 14em;
        top: 7em;
    }

    .card-back {
        margin: 0;
        position: fixed;
        bottom: 6em;
        left: 16em;
    }
                
    .name-display {
        grid-area: name;
        height: 1rem;
    }
    
    .number-display {
        grid-area: number;
        height: 1rem;
    }
    
    .exp-m-display {
        grid-area: exp-m;
        height: 1rem;
        width: 1.5em;
        margin-left: auto;
    }
    
    .exp-y-display {
        grid-area: exp-y;
        height: 1rem;
        width: 1.5em;
    }
    
    .logo {
        display: flex;
        align-items: center;
    }   
        
    .card-form-container {
        margin: 0;
        width: 65%;
    }

    form {
        margin: auto;
        width: auto;
        height: auto
    }

    .exp-field, .cvc-field {
        display: inline-block;
    }

    .exp-field > .m-y-container {
        display: inline-flex;
    }

    .exp-field > .m-y-container > .m-container > input, .exp-field > .m-y-container > .y-container > input, .cvc-field > input {
        width: 5em;
    }

    .exp-field > .m-y-container > .y-container > input {
        margin-left: 1em;
    }

    .success-container {
        margin: auto;
        width: 70%;
        justify-content: center;
        display: flex
    }
    
    .success-message {
        margin: 20% 10%;
    }
    
    .no-success {
        display: none;
    }    
}