* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

p {
    color: #9597a5;
}

footer {
    background-color: #2d314d;
    color: white;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #9597a5;
}

.companyTitleLogo {
    display: flex;
    align-items: center;
    justify-content: center
}

.brand-title {
    color: black;
    font-size: 1.3rem;
}

.logoimg {
    width: 2em;
    height: 2em;
    margin-left: 1em;
}

.navbar-body-bg {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #2d314d, rgba(255, 255, 255, 0.593));
    width: 100%;
}

.navbar-body {
    width: 70%;
    margin: 2em auto 0 auto;
    margin-left: auto;
    display: flex;
    border-radius: 1em;
    /* border: 0.025em solid black; */
    background-color: white;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-bottom: 0.025em solid #2d314d; /*Might not be necessary to have. Remove li:hover if we remove this line. */
}

.navbar-links li:hover {
    list-style: none;
    border: none;
}

.navbar-links li a {
    text-decoration: none;
    margin: 0.025em auto 0.025em auto;
    padding: 1rem;
    color: #2d314d;
    display: block;
}

.navbar-links li a:hover {
    margin: 0 auto 0 auto;
    border-width: 0.025em;
    border-style: solid;
    border-image:linear-gradient(to right, #33d35e, #2AB6D9) 1;
}

.toggle-btn::after {
    content: "";
    display: table;
    clear: both;
}

.toggle-btn {
    position: absolute;
    right: 1rem;
    top: 0.40rem;
    font-size: 48px;
    color: black;
}

.navbar .toggle_btn {
    border: 0.025em solid black;
    color: #9597a5;
    font-size: 1.5rem;
}

/* .main-content {
    margin: 3rem;
    
} */

.next-generation {
    display: flex;
    padding: 4rem;
}

.generation-text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: 6rem 0rem 6rem 0rem;
    align-items: start;
    width: 40%
}

.invite-img {
    object-fit: none;
    padding: 1rem 0rem 1rem 0rem;
}

.why-choose {
    background-color: #f5f5f5;
    padding: 4rem
}

.why-choose-items {
    display: flex;
    justify-content: space-evenly;

}

.choose-item {
    margin: 1rem;
    flex-grow: 1;
    width: 25%
}

.latest-articles {
    margin: 4rem
}

.article-container {
    display: flex;

}
.article {
    width: 25%;
    margin: 0rem 1.25rem 0rem 0rem;
    background-color: white;
    overflow: hidden;
}

.article-img {
    width: 100%;
    height: 50%;
}

.article-text {
    margin: .75rem;
}

.footer-link-section {
    display: flex;
}

.footer-container {
    display: flex;
    margin: 0rem 4rem 0rem 4rem;
    justify-content: space-between;
}

.footer-links {
    margin: 0rem 3rem 0rem 0rem;
}



.copy-image {
    text-align: center;
}

.socials {
    text-align: center;
}

.start-date {
    text-align: center;
    color: white;
    background-color: black;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .brand-title {
        color: #2d314d;
        font-size: 1.3rem;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0.75em 0.75em;
    }

    .navbar-body-bg {
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(to bottom, #2d314d, rgba(255, 255, 255, 0.593));
        width: 100%;
    }
    
    .navbar-body {
        width: 70%;
        margin: 2em auto 0 auto;
        margin-left: auto;
        display: flex;
        border-radius: 1em;
        /* border: 0.025em solid black; */
        background-color: white;
    }
    
    .navbar-links {
        /* display: none; */
        width: 100%;
    }
    
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        color: #2d314d;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

}